<div class="logo">
  <a routerLink="" class="home"><img src="../assets/logo.png" alt="#parking"></a>
</div>
<div class="title">
  <a class="shop" routerLink="/items"><i class="material-icons shop">shopping_cart</i></a>
</div>
<video autoplay loop muted >
  <source src="https://cs632505.userapi.com/8/u60634313/videos/52d82b570d.480.mp4" type="video/mp4">
</video>
<div class="item">
  <a href="https://vk.com/parkingvapeshop" class="vk"><i class="fa fa-vk" aria-hidden="true"></i></a>
  <a href="https://www.instagram.com/parkingvapeshop" class="instagram"><i class="fa fa-instagram"></i></a>
</div>

